<body data-spy="scroll" data-garget="#navbar-scroll" data-offset="50">
  <div class="navbar-index" id="navigation-dots">
    <nav id="navbar-scroll" class="home-navigation">
      <ul class="nav nav-pills nav-stacked">
        <li class="active">
          <a href="#slogan" data-toggle="tooltip" data-placement="left" title="我们的使命" >我们的使命</a>
          <div class="hover-navigation-dots">
            <span>我们的使命</span>
          </div>
        </li>
        <li class="">
          <a href="#hope">我们的希望</a>
          <div class="hover-navigation-dots">
            <span>我们的希望</span>
          </div>
        </li>
        <li class="">
          <a href="#service">我们的优势</a>
          <div class="hover-navigation-dots">
            <span>我们的优势</span>
          </div>
        </li>
        <li class="">
          <a href="#recommend">我们的推荐</a>
          <div class="hover-navigation-dots">
            <span>我们的推荐</span>
          </div>
        </li>
        <li class="">
          <a href="#about">我们的我们</a>
          <div class="hover-navigation-dots">
            <span>我们的我们</span>
          </div>
        </li>
      </ul>
    </nav>
  </div>
<section id="slogan">
<div class="banner">
  <div class="jumbotron">
    <div class="text-content">
      <h1 class="title">打造专属你的个性皮具</h1>
      <p class="slogan">
       <strong> Do it yourself, or do for you! </strong>
      </p>
      <p class="lead"><a class="btn btn-lg b-btn" href="/products">即刻开始</a></p>
    </div>
  </div>
</div>
</section>

<!--====door====-->
<section id="hope">
<div class="row">
<section class="door-box">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
        <h2 class="index-title">给予生活新可能</h2>
        <div class="short-line"></div>
        <div class="men-zi"><p>在岁月的河流里，<br>难免会有些日子觉得生活平淡抑或苦闷，<br>
        此时走进皮具制作的大门，释放创意与个性，给予了生活另外一种可能。</div>
       <div class="open"> <img src="https://ww2.sinaimg.cn/large/006tNc79gy1fgaj1jatj4j30cf06bgna.jpg" alt=""></div>
      </div>
   </div>
 </div>
</section>
</div>
</section>

<!--====服务优势====-->
  <section id="service", class="advantage-box">
<div class="container text-center">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <h2 class="index-title">服务优势</h2>
            <div class="short-line"></div>
        </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="hjc-img-wrap">
                <img class="round" src="https://ww4.sinaimg.cn/large/006tNbRwgy1ffws9iqmiuj3074074jsz.jpg">
                <h3 class="river-text">简明易懂的手工教程</h3>
                <p class="text-small">根据配套教程的引导，再发挥你的创造力，打造与众不同的皮具再也不难。</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="hjc-img-wrap">
               <img class="round" src="https://ww1.sinaimg.cn/large/006tNbRwgy1ffwsa3ap3cj3074074jtf.jpg">
                <h3 class="river-text">丰富齐全的制作材料</h3>
                <p class="text-small">种类多样的皮料，齐全的制作工具，满足你想要的专属定制。</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="hjc-img-wrap">
                <img class="round" src="https://ww1.sinaimg.cn/large/006tNbRwgy1ffwsb7xs3xj3074074mz7.jpg">
                <h3 class="river-text" >皮匠帮助解决疑难</h3>
                <p class="text-small">皮匠们可线上解惑，或线下亲身示范指导，无论多难的制作都会踏过去。</p>
              </div>
            </div>
      </div>
  </section>





<!--===== 推荐商品 =====-->
 <section id="recommend", class="show-box">
   <div class="container">
     <div class="col-md-10 col-md-offset-1">
       <h2 class="index-title">推荐商品</h2>
       <div class="short-line"></div> <!-- 分隔线 -->
     <div class="row">
       <% @products.each do |product| %>
         <% if product.recommend == "推荐"%>
           <div class="col-xs-6 col-md-3 product-recommend">
             <%= link_to product_path(product) do %>

               <% if product.photos.present? %>
                 <div class="box"><%= image_tag(product.photos[0].avatar.medium.url, class: "") %></div>
               <% else %>
                 <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
               <% end %>
             <% end %>
             <br>
           <div class="col-md-12 product-info">
             <%= product.title %>
             <br><br>
             ￥ <%= product.price %>
             <br>

           </div>
         </div>
         <% end %>
       <% end %>
     </div>
   </div>
 </div>
 </section>


 <!--===== 品牌故事 =====-->
  <section id="about" class="row story-box">
    <div class="container">
      <div class="col-md-10 col-md-offset-1">
       <h2 class="index-title">有关我们</h2>
        <div class="short-line"></div>
        <div class="row">
          <div class="col-md-3 col-md-offset-1">
            <img src="https://ww3.sinaimg.cn/large/006tNc79gy1fgbktb3c8uj309u09ugnq.jpg">
          </div>
          <div class="col-md-7">
            <h3>丘竟钰</h3>
            <p>网名一休，一个39岁的年青人，心态一直年青的年青人，哈哈！喜欢跑步、射箭，热爱手作。希望自己在成长为专业皮匠的同时，让更多的人喜欢手工皮具，与更多伙伴一起享受制作皮具的乐趣。
             </p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-7 col-md-offset-1">
            <h3>张瑞兰</h3>
            <p>一个乐观倔强，容易犯二的90后。人不聪明，好在还是比较上进滴人。与一休哥组队作战这段时间，深刻感受到他超强的行动力。愿自己也快点成长为践行能力强的人，到时我就可以好好佩服下自己啦！嘻嘻！</p>
          </div>
          <div class="col-md-3">
            <img src="https://ww4.sinaimg.cn/large/006tNc79gy1fgapxz1udfj30hs0hs0u2.jpg">
          </div>
        </div>
      </div>
    </div>
  </section>


<!-- ====底部===== -->
<div class="row">
    <div class="banner">
      <div class="base-image">
        <div class="text-content">
          <p class="lead"><a class="btn btn-lg b-btn" href="/products">即刻开始</a></p>
        </div>
      </div>
    </div>
</div>

</body>
