<div class="container">
  <div class="account-text">
  <h2> 修改个人资料 </h2>
  </div>
  <div class="col-md-6 col-md-offset-3">
  <%= simple_form_for [:account, @user] do |f| %>
  <div>
    <%= f.input :name, :label =>"用户名" %>
    <%= f.input :email, :label =>"邮箱" %>
    <%= link_to("取消", root_path, class: "btn btn-sm btn-default" ) %>
    <%= f.submit "提交", class: "btn btn-sm btn-default" %>
  </div>
 <% end %>
 </div>
</div>
