<div class="container">
 <div class="row">
  <!-- <div class="col-md-12"> -->

    <h2 class="cart-zi"> 订单明细 </h2>

    <div class="shopping-cart">
      <div class="cart-column-head center-block">
        <label class="col-xs-3 product-title-cart">名称</label>
        <label class="col-xs-3 product-price-cart">单价</label>
        <label class="col-xs-3 product-quantity-cart">数量</label>
        <label class="col-xs-3 product-line-price-cart">小计</label>
      </div>
      <% @product_lists.each do |product_list| %>
       <div class="product_list row text-center">
         <!-- 名称 -->
         <div class="col-xs-3 product-cart">
          <%= product_list.product_name %>
         </div>

         <!-- 单价 -->
        <div class="col-xs-3 product-cart">
          <%= product_list.product_price %> RMB
        </div>

        <!-- 数量 -->
        <div class="col-xs-3 product-cart">
            <%= product_list.quantity %>
        </div>

        <!-- 总价 -->
        <div class="col-xs-3 product-cart">
          <%= product_list.product_price * product_list.quantity %> RMB
         </div>
       </div>
        <hr>
      <% end %>
    </div>
          <!-- 合计 -->
          <div class="container">
            <span class="pull-right text-center product-price-total">
              总计: <%= @order.total %> RMB
            </span>
          </div>


   <!-- 寄送详情表 -->
    <div class="row order-form-group">
          <div class="col-md-6 col-md-offset-3">
            <h3 class="order-message">寄送详情</h3>
            <hr>

            <div class="order-form">
              <%= simple_form_for @order do |f| %>

                <h4>订购详情</h4>
                <div class="form-group">
                  <br>
                  <p><strong> 订购人姓名：</strong><%= @order.billing_name %></p>
                  <p><strong> 订购人电话：</strong><%= @order.phone_numbers %></p>
                  <p><strong> 订购人地址：</strong><%= @order.billing_address %></p>
                </div>

                <br>
                <h4>收货详情</h4>
                <div class="form-group">
                  <br>
                  <p><strong> 收货人姓名：</strong><%= @order.shipping_name %></p>
                  <p><strong> 收货人电话：</strong><%= @order.phone_numbers %></p>
                  <p><strong> 收货人地址：</strong><%= @order.shipping_address %></p>
                </div>

              <% end %>
            </div>
          </div>

   <!-- 列表之外 -->
    <div class="col-md-6 col-md-offset-3 order_footer">
      <hr>
      <div class="col-md-4">
        <% if @order.order_placed? || @order.paid? %>
          <%= link_to("取消订单", apply_to_cancel_order_path(@order), method: :post, class: "btn btn-info") %>
        <% end %>
      </div>
      <% if !@order.is_paid? %>
      <!-- <div class="pay col-md-4" >
        <%= image_tag("http://oon3erbcp.bkt.clouddn.com/%E6%94%AF%E4%BB%98%E5%AE%9D.jpg") %>
      </div>
      <div class="pay col-md-4" >
        <%= link_to("支付宝扫后点击", pay_with_alipay_order_path(@order.token), :method => :post, :class => "btn btn-danger") %>
      </div> -->
      <div class="pay col-md-4" >
        <%= image_tag("http://oon3erbcp.bkt.clouddn.com/%E5%BE%AE%E4%BF%A1.jpg") %>
      </div>
      <div class="pay col-md-4" >
        <%= link_to("微信扫后点击", pay_with_wechat_order_path(@order.token), :method => :post, :class => "btn btn-danger") %>
      </div>

        <br>
      <% else %>
        <p class="text-center">此订单已完成付款</p>
      <% end %>
    </div>
  </div>
</div>
</div>
