
<div class="product-box">
<div class="container">
  <div class="pro-image">
      <h1 class="pro-title">真正的奢侈是能够自由选择</h1>
      <p class="pro-slogan">
      Do it yourself, or do for you! 
      </p>
    </div>
  <!-- <img src="https://ww1.sinaimg.cn/large/006tNbRwgy1fg00bbp06hj310o05iq91.jpg" alt="" class="bg-image"> -->
  <!-- <h1 class="text-center" style="font-family:Verdana">我们的商品</h1><br> -->
  <ul class="nav nav-tabs">
        <div class="col-md-2 text-center">
          <%= link_to  products_path do %>
          <br>
          <%= link_to "所有商品", products_path %>
          <% end %>
        </div>
        <div class="col-md-2 text-center">
          <%= link_to  products_path(:category => "成品" ) do %>
            <br>
            <%= link_to "成品", products_path(:category => "成品" ) %>
          <% end %>
        </div>
        <div class="col-md-2 text-center">
          <%= link_to  products_path(:category => "材料" ) do %>
            <br>
            <%= link_to "材料", products_path(:category => "材料" ) %>
          <% end %>
        </div>
        <div class="col-md-2 text-center">
          <%= link_to  products_path(:category => "工具" ) do %>
            <br>
            <%= link_to "工具", products_path(:category => "工具" ) %>
          <% end %>
        </div>
        <div class="col-md-2 text-center">
          <%= link_to  products_path(:category => "课程" ) do %>
            <br>
            <%= link_to "课程", products_path(:category => "课程" ) %>
          <% end %>
        </div>
        <div class="dropdown clearfix pull-right">
           <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
             排序
             <span class="caret"></span>
           </button>
           <ul class="reorder dropdown-menu ">
             <li><%= link_to("价格从高到低", products_path(:order => "down_product.price")) %></li>
             <li><%= link_to("价格从低到高", products_path(:order => "up_product.price")) %></li>
             <li><%= link_to("发表时间", products_path ) %></li>
           </ul>
        </div>
  </ul>


<div class="row">

  <% @products.each do |product| %>
    <div class="col-xs-12 col-sm-4 col-md-3 product-content">
      <%= link_to product_path(product) do %>
        <% if product.image.present? %>
          <%= image_tag(product.image.thumb.url, class: "thumbnails") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <% end %>
      <% end %>
      <div class="product-info">
        <%= product.title %> ￥ <%= product.price %>

      <% if !product.users.include?(current_user) %>
        <%= link_to("",favorite_product_path(product),method: :post, class: "fa fa-thumbs-o-up fa-2x") %><%= product.users.count %>

      <% else %>
        <%= link_to("", unfavorite_product_path(product),method: :post,  class: "fa fa-thumbs-up fa-2x", style: "color:red") %><%= product.users.count %>
      <% end %>
      </div>
    </div>
  <% end %>

</div>


<div class="text-center">

    <%= will_paginate @products, renderer: BootstrapPagination::Rails %>

</div>
</div>
</div>
