 <!-- 产品页头图-->
  <div class="container">
    <div class="row">
      <div class="pro-image">
        <h1 class="pro-title">真正的奢侈是能够自由选择</h1>
        <p class="pro-slogan">
        Do it yourself, or do for you!
        </p>
      </div>
      </div>
    </div>

<body>
<!-- 产品页小导航条-->
  <div class="nav-product">
    <div class="container-fluid">
      <div class="row" >

        <div class="text-left" >
          商品分类：
          <a href="#pg" style= "color:white">所有商品</a>
          <a href="#cp" style= "color:white">成品</a>
          <a href="#cl" style= "color:white">材料</a>
          <a href="#gj" style= "color:white">工具</a>
          <a href="#kc" style= "color:white">课程</a>
        </div>
        <div class="dropdown clearfix text-right">
           <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style= "color:#996247">
             商品排序
             <span class="caret"></span>
           </button>
           <ul class="reorder dropdown-menu" >
             <li><%= link_to("价格从高到低", products_path(:order => "down_product.price"), :style => "color:#996247")  %></li>
             <li><%= link_to("价格从低到高", products_path(:order => "up_product.price"), :style => "color:#996247") %></li>
             <li><%= link_to("发表时间", products_path, :style => "color:#996247" ) %></li>
           </ul>
        </div>
      </div>
    </div>
  </div>
  <br>

  <!--所有商品展示-->
  <div id="pg" class="container text-center">
    <h3 class="river-text">所有商品</h3>
    <p class="text-small">总有适合你的</p>
    <div class="short-line"></div>
    <br>
    <div class="row">
      <% @products.each do |product| %>
        <div class="col-xs-6 col-md-4 product-content">
          <%= link_to product_path(product) do %>
            <% if product.image.present? %>
              <%= image_tag(product.image.thumb.url, class: "thumbnails") %>
            <% else %>
              <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
            <% end %>
          <% end %>
          <br><br>
          <div class="product-info">
            <%= product.title %> ￥ <%= product.price %>
            <br>
            <% if !product.users.include?(current_user) %>
              <%= link_to("",favorite_product_path(product),method: :post, class: "fa fa-thumbs-o-up fa-2x") %>点赞人气<%= product.users.count %>

            <% else %>
              <%= link_to("", unfavorite_product_path(product),method: :post,  class: "fa fa-thumbs-up fa-2x", style: "color:red") %>点赞人气<%= product.users.count %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <br>
  <div class="long-line"></div>

  <!-- 成品展示 -->
  <div id="cp" class="container text-center">
    <h3 class="river-text">成品</h3>
    <p class="text-small">Do for you</p>
    <div class="short-line"></div>
    <br>
    <div class="row">
      <% @products.each do |product| %>
        <% if product.category.name == "成品"%>
          <div class="col-xs-6 col-md-4 product-content">
            <%= link_to product_path(product) do %>

              <% if product.image.present? %>
                <%= image_tag(product.image.thumb.url, class: "thumbnails") %>
              <% else %>
                <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
              <% end %>
            <% end %>
          <br><br>
          <div class="product-info">
            <%= product.title %> ￥ <%= product.price %>
            <br>
            <% if !product.users.include?(current_user) %>
              <%= link_to("",favorite_product_path(product),method: :post, class: "fa fa-thumbs-o-up fa-2x") %>点赞人气<%= product.users.count %>

            <% else %>
              <%= link_to("", unfavorite_product_path(product),method: :post,  class: "fa fa-thumbs-up fa-2x", style: "color:red") %>点赞人气<%= product.users.count %>
            <% end %>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <br>
  <div class="long-line"></div>

  <!-- 材料展示 -->
  <div id="cl" class="container text-center">
    <h3 class="river-text">材料</h3>
    <p class="text-small">我们只用好的</p>
    <div class="short-line"></div>
    <br>
    <div class="row">
      <% @products.each do |product| %>
        <% if product.category.name == "材料"%>
          <div class="col-xs-6 col-md-4 product-content">
            <%= link_to product_path(product) do %>

              <% if product.image.present? %>
                <%= image_tag(product.image.thumb.url, class: "thumbnails") %>
              <% else %>
                <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
              <% end %>
            <% end %>
          <br><br>
          <div class="product-info">
            <%= product.title %> ￥ <%= product.price %>
            <br>
            <% if !product.users.include?(current_user) %>
              <%= link_to("",favorite_product_path(product),method: :post, class: "fa fa-thumbs-o-up fa-2x") %>点赞人气<%= product.users.count %>

            <% else %>
              <%= link_to("", unfavorite_product_path(product),method: :post,  class: "fa fa-thumbs-up fa-2x", style: "color:red") %>点赞人气<%= product.users.count %>
            <% end %>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <br>
  <div class="long-line"></div>

  <!-- 工具展示 -->
  <div id="gj" class="container text-center">
    <h3 class="river-text">工具</h3>
    <p class="text-small">欲善其事，先利其器</p>
    <div class="short-line"></div>
    <br>
    <div class="row">
      <% @products.each do |product| %>
        <% if product.category.name == "工具"%>
          <div class="col-xs-6 col-md-4 product-content">
            <%= link_to product_path(product) do %>

              <% if product.image.present? %>
                <%= image_tag(product.image.thumb.url, class: "thumbnails") %>
              <% else %>
                <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
              <% end %>
            <% end %>
          <br><br>
          <div class="product-info">
            <%= product.title %> ￥ <%= product.price %>
            <br>
            <% if !product.users.include?(current_user) %>
              <%= link_to("",favorite_product_path(product),method: :post, class: "fa fa-thumbs-o-up fa-2x") %>点赞人气<%= product.users.count %>

            <% else %>
              <%= link_to("", unfavorite_product_path(product),method: :post,  class: "fa fa-thumbs-up fa-2x", style: "color:red") %>点赞人气<%= product.users.count %>
            <% end %>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <br>
  <div class="long-line"></div>

  <!-- 课程展示 -->
  <div id="kc" class="container text-center">
    <h3 class="river-text">课程</h3>
    <p class="text-small">大师在指引你</p>
    <div class="short-line"></div>
    <br><br>
    <div class="row">
      <% @products.each do |product| %>
        <% if product.category.name == "课程"%>
          <div class="col-xs-6 col-md-4 product-content">
            <%= link_to product_path(product) do %>

              <% if product.image.present? %>
                <%= image_tag(product.image.thumb.url, class: "thumbnails") %>
              <% else %>
                <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
              <% end %>
            <% end %>
          <br>
          <div class="product-info">
            <%= product.title %> ￥ <%= product.price %>
            <br>
            <% if !product.users.include?(current_user) %>
              <%= link_to("",favorite_product_path(product),method: :post, class: "fa fa-thumbs-o-up fa-2x") %>点赞人气<%= product.users.count %>

            <% else %>
              <%= link_to("", unfavorite_product_path(product),method: :post,  class: "fa fa-thumbs-up fa-2x", style: "color:red") %>点赞人气<%= product.users.count %>
            <% end %>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</body>









<!-- <div class="text-center">

    <%= will_paginate @products, renderer: BootstrapPagination::Rails %>

</div> -->
