

<div class="nav-product">
  <div class="container-fluid text-left">
    <div class="row" >
      <p class="location"><%= link_to("所有商品", products_path, style: "color:white")%> >
        <% Category.all.each do |category| %>
              <% if @product.category.name == category.name %>
            <%= link_to category.name, products_path(category: category.name), class: "link", style: "color:white" %>
        <% end %>
        <% end %>
        > <%= @product.title %>
      </p>
    </div>
  </div>
</div>
<br>

<div class="container product-show">
  <div class="row">
    <!-- 大图 -->
    <div class="col-md-7">
      <% if @photos.present? %>
        <div class="productDetail">
          <div class="productDetail-left">
            <div class="productDetail-left-bigImage">
              <%= image_tag(@product.photos[0].avatar.url, class: "thumbnail img-responsive") %>
            </div>
            <!-- 下方缩略图-->
            <div class="productDetail-left-imageList ">
              <div class="productDetail-left-imageList-item">
                <%= image_tag(@product.photos[0].avatar.medium.url, class: "thumbnail img-responsive")  %>
              </div>
              <div class="productDetail-left-imageList-item">
                <%= image_tag(@product.photos[1].avatar.medium.url, class: "thumbnail img-responsive")  %>
              </div>
              <div class="productDetail-left-imageList-item">
                <%= image_tag(@product.photos[2].avatar.medium.url, class: "thumbnail img-responsive")  %>
              </div>
              <div class="productDetail-left-imageList-item">
                <%= image_tag(@product.photos[3].avatar.medium.url, class: "thumbnail img-responsive")  %>
              </div>
            </div>
          </div>
        </div>
      <% else %>
          <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
      <% end %>
    </div>
    <br><br><br>



    <!-- 商品信息 -->
    <div class="col-md-5">
      <h2 class="product-title"> <%= @product.title %> </h2>
      <div class="product-price-bgcolor">
      <div class="product-price"> ￥ <%= @product.price %> </div>
      </div>
      <div class="product-quantity"> 库存 : <%= @product.quantity %> </div>

      <br><br><br><br>

      <div class="add-to-cart-button row">
        <div class="col-sm-6">
          <%= simple_form_for @product, method: :post, url: add_to_cart_product_path(@product) do |f| %>
           <div class="buy-quantity">
            <%= link_to("-", "", id: "quantity-minus", class: "quantity-minus btn btn-default disabled", style: "color:#DAC1BE") %>
            <%= f.input_field "", name: "quantity", value: '1', id: "quantity-input", class: "quantity-input" %>
            <%= link_to("+", "", id: "quantity-plus", class: "quantity-plus btn btn-default #{@product.quantity <= 1 ? 'disabled' : ''}", style: "color:#DAC1BE") %>
           </div>
           <button type="submit" class="btn btn-danger <%= @product.quantity == 0 ? 'disabled' : '' %>">
            <%= fa_icon("cart-arrow-down", text: "加入购物车") %>
           </button>
          <% end %>
      </div>
       <!-- 点赞按钮 -->
       <div class="col-sm-6 favorite_button">
        <% if !@product.users.include?(current_user) %>
          <%= link_to("",favorite_product_path(@product),method: :post, class: "fa fa-thumbs-o-up fa-2x") %>点赞人气<%= @product.users.count %>
        <% else %>
          <%= link_to("", unfavorite_product_path(@product),method: :post,  class: "fa fa-thumbs-up fa-2x", style: "color:red") %>点赞人气<%= @product.users.count %>
        <% end %>
      </div>
     </div>
    </div>



    <div class="product-p col-md-9 ">
       <ul class="nav nav-tabs">
         <li class="active"><a data-toggle="tab" href="#home">商品详情</a></li>
         <li><a data-toggle="tab" href="#menu1">用户评论</a></li>
      </ul>
       <div class="tab-content">
         <div id="home" class="tab-pane fade in active">
           <div class="product-description">
             <p>
               <%= simple_format(@product.description)%>
             </p>
             <% if @photos.present? %>
               <% @photos.each_with_index do |p, index| %>
                   <%= image_tag p.avatar.medium.url, class: "thumbnail img-responsive" %>
               <% end %>
             <% else %>
                 <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
             <% end %>
           </div>
         </div>
         <div id="menu1" class="tab-pane fade">
           <table class="table">
             <tbody>
               <% @comments.each do |comment| %>
                 <tr>
                   <td><%= comment.user.name %></td>
                   <td><%= comment.content %></td>
                   <td><%= comment.created_at %></td>
                 </tr>
               <% end %>
             </tbody>
           </table>
           <%= render "comments/form" %>
         </div>
      </div>
    </div>
    <div class="product-p product-b col-md-3">
    <h2 class=text-center>人气商品</h2>

    <ul class="productList clearfix pb20">
      <% Product.all.includes(:photos).sort_by {|product| product.favorites.count}.reverse.each_with_index do |product, index| %>
        <%= link_to product_path(product) do %>
              <% if product.photos.present? %>
                <%= image_tag(product.photos[0].avatar.medium.url, class: "thumbnail img-responsive") %>
              <% else %>
                <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
              <% end %>
        <% end %>
      <% end %>
      <div class="price pull-left"> ￥ <%= @product.price %> </div>
      <div class="button pull-right">
       <% if !@product.users.include?(current_user) %>
         <%= link_to("",favorite_product_path(@product),method: :post, class: "fa fa-thumbs-o-up fa-2x") %>点赞人气<%= @product.users.count %>
       <% else %>
         <%= link_to("", unfavorite_product_path(@product),method: :post,  class: "fa fa-thumbs-up fa-2x", style: "color:red") %>点赞人气<%= @product.users.count %>
       <% end %>
       </div>
    </ul>
     </div>

    </div>
  </div>
</div>
