<!DOCTYPE html>
<html>
  <head>
    <title>一休工作室</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid body-content">
      <!-- body-content和content-inside涉及到footer置底 -->
      <div class="content-inside">
      <div class="row">
        <%= render "common/navbar" %>
      </div>
      <div class="row flash">
        <%= render "common/flashes" %>
      </div>
      <%= yield %>
    </div>
   </div>
      <%= render "common/footer" %>
   <script src="https://qiyukf.com/script/f99bdea4ede3d73393337b84bc6feb51.js" defer async></script>
  </body>
</html>
